html,
body {
  padding: 0;
  margin: 0;
}

.App {
  font-family: "Segoe UI", sans-serif;
  font-size: 1.2rem;
  text-align: center;
}

/* .split-button {
  background: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  overflow: hidden;
} */

.split-button {
  background-color: #e2baeb; 
  color: rgb(8, 8, 8);
  font-size: 1.2rem;         
  padding: 12px 24px;        
  margin: 10px;            
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: "Georgia", Times, serif;
}


.split-button:hover {
  background-color: #be35e0; 
}


.split-pane-col {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.split-pane-row {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
}

.split-pane-left {
  flex: 1;
  overflow: hidden;
  background-color: #d51c1c;
}

.split-pane-bottom {
  flex: 1;
  overflow: hidden;
}

.modal {
  background-color: #e2baeb;
  display: flex;
  align-items: center;  
  justify-content: center; 

}


.split-pane-top {
  flex: 1;
  overflow: hidden;
  background-color: #d789eb;
  min-height: 15vh;
  max-height: 15vh;
  display: flex;
  align-items: center;  
  justify-content: center; 

}
.split-pane-right {
  flex: 1;
  overflow: hidden;
  background-color: #195498;
  text-align: left;
}

.split-pane-dict,
.split-pane-third {
  height: 85vh;
  width: 25vw;
  background-color: rgba(0, 0, 0, 0.137);
  padding: 10px;
  overflow: auto;
}

.separator-col {
  border: 5px solid black;
  cursor: col-resize;
}

.separator-row {
  border: 5px solid black;
  /* cursor: row-resize; */
}

ul {
  margin-left: -2%;
}

ul li {
  margin: 1rem;
  list-style-type: square;
}

ul a {
  text-decoration: none;
  color: darkblue;
  font-size: large;
}

ul a:hover {
  color: black;
}

.canvas-container {
  position: relative;
  width: min-content;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
  align-self: center;
  margin: auto;
  background-color: white;
}

.canvas-container canvas {
  display: block;
}

.canvas-container canvas.moving {
  cursor: grab;
}

.canvas-container canvas.moving:active {
  cursor: grabbing;
}


.canvas-container .menu-container {
  position: absolute;
  top: 10px;
  left: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  z-index: 10;
}


.canvas-container .menu {
  user-select: none;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 10px;
  left: 10px;
  top: 10px;
  border-radius: 5px;
  background-color: rgba(231, 231, 231, 0.9);
  position: static;
}

.canvas-container .menu.right {
  right: unset;  
  left: unset;   
  position: static;
}

.canvas-container .menu hr {
  border-top: 1px solid rgb(165, 165, 165);
  margin: 5px;
}

.canvas-container .menu[aria-disabled="true"] {
  opacity: 0.25;
  pointer-events: none;
}
.canvas-container .menu .preview {
  position: relative;
  width: 44px;
  height: 44px;
  background-color: white;
  outline: 1px solid #dadada;
}

.canvas-container .menu .preview .active {
  position: absolute;
  background-color: #b9b9b9;
}

.canvas-container .menu .button {
  background: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  overflow: hidden;
}

.canvas-container .menu .button * {
  display: block;
}

.canvas-container .menu .color {
  border-radius: 50%;
  box-shadow: 0 0 10px black inset;
  outline: 1px solid rgb(255, 255, 255);
}

.canvas-container .menu .color input {
  width: 100%;
  height: 24px;
  transform: scaleX(2.6) scaleY(3.2);
  cursor: pointer;
}

.canvas-container .menu .button:disabled {
  opacity: 0.3;
  cursor: not-allowed;
}

.canvas-container .menu .button:disabled:hover {
  background: none;
}

.canvas-container .menu .button:hover {
  background: rgba(0, 0, 0, 0.1);
}

.canvas-container .menu .button[aria-pressed="true"] {
  background: rgba(0, 102, 255, 0.5);
}

.hidden {
  position: absolute;
  width: 0;
  height: 0;
  visibility: hidden;
  pointer-events: none;
}
